@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
:root {
    --bg-gradient: linear-gradient(140deg, #83834d 50%, #33341e 50%);
}
body {
    background: var(--bg-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
#main-container{
    height: auto;
    width: 350px;
}
h1 {
    margin-top: 0px;
    font-size: 40px;
    background-color: rgb(4, 29, 0);
    color: #eaee00;
    text-align: center;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    animation: slideRight 1.8s ease forwards;
}
.todoInput {
    background-color: rgb(135, 133, 29);
    height: 100px;
    margin-top: -27px;
}
#todoInput {
    width: 70%;
    height: 40px;
    margin: 25px 20px;
}
.todoInput button {
    height: 35px;
    width: auto;
    margin-left: -10px;
    border: none;
    background-color: rgb(216, 213, 0);
    font-weight: bolder;
}
.todoInput button:hover {
    background-color: rgb(41, 43, 18);
    color: white;
}
#todoList {
    margin: 20px 0px;
    font-size: 14px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.li {
    list-style-type: numbers;
    overflow-wrap: break-word;
    margin-bottom: 3px;
    margin-left: -25px;
    background-color: rgb(255, 255, 255);
}
.update-btn {
    position: relative;
    left: 5%;
    background-color: rgb(0, 70, 25);
    color: white;
    margin: 2px;
}
.update-btn:hover {
    background-color: rgb(0, 30, 0);
}
.delete-btn {
    position: relative;
    left: 5%;
    background-color: rgb(88, 0, 0);
    color: white;
}
.delete-btn:hover {
    background-color: rgb(32, 0, 0);
}
.complete-btn{
    position: relative;
    left: 5%;
    margin: 2px;
    background-color: rgb(19, 68, 114);
    color: white;
}
.complete-btn:hover{
    background-color: rgb(0, 14, 26);
}
.second-li{
    list-style-type: numbers;
    overflow-wrap: break-word;
    margin-bottom: 3px;
    margin-left: -25px;
    background-color: rgb(212, 210, 163);
}
@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
 
